.container {
    border:1px blue;
    width: 1000px;
}

header,
nav, 
section,
aside,
article,
footer {
    border:1px purple;
    height: 50px;
    padding:20px;
    margin:10px;
    text-align:center;

}

.d-flex {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;    
}
.content {
    flex: 1;

}
aside {
width: 200px;
height: 152px;
border-color: red;
}
header {
    border-color: rgb(80, 124, 255);
}
nav{
    border-color: rgba(13, 169, 42, 0.74);
}